<!DOCTYPE html>
<html>
<body>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<div class="p-3 mb-2 bg-primary text-white">
<h2><center>HTML Forms</center></h2>
    <form method="POST">
        {%csrf_token%}
        <div class='text-center'>
        <label>Firstname:</label><br>
        <div>
            <input class="rounded-pill","text-center" name='fname' type='text' value='John'><br>
            <div >
                <input type='submit' value='Submit' class="rounded-pill">
            </div>
        </div>
    </form>
</div>     cd
</body>
</html>
   